body {
  --main1-color: #eaebfe;
  --main2-color: #b0b8ce;
  --main2-hover-color: #8c93a4; /* 이건 더 밝아지기 vs 어두워지기 (난 상관노) 투표 ㄱㄱ */
  --main3-color: #505a74;
  --main3-hover-color: #727a8f;
  --main4-color: #354c7c;
  --main4-hover-color: #5d6f96;
  --main5-color: #022954;
  --main5-hover-color: #345376;
  --red-color: #7c354c;
  --red-hover-color: #965d6f;
  --yellow-rank-color: #ffcd69;
  --red-rank-color: #ff7d97;
  --blue-rank-color: #33d6f5;

  --black-color: #000000;
  --white-color: #ffffff;
}

@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;

  font-family: DNFBitBitv2;
}

body {
  line-height: unset !important;

  background-color: var(--main1-color) !important;
}

a {
  text-decoration: none !important;
  color: var(--main5-color) !important;
}

a:link {
  text-decoration: none;
}

input:focus {
  outline: none;
}
